/*--



        FINAL PROJECT
        for INFO-1251 + INFO-1272
        || 'Ilex Supply Co.' Store Concept
        || Due Dec. 17, 2021 @ 11:59PM
        || main.css
        Hayley Jolliffe — 2021

        Update: Due Dec. 19, 2021 @ 11:59PM



--*/

/*-- GLOBALS --*/
body {
        background-color:#202020;
        color:#fafafa;
        font-family:'Inter', Helvetica, sans-serif;
        font-weight:400;
        text-decoration:none;
}

a {
        color:#fafafa;
        text-decoration:underline;
}

a:hover {
        color:#999;
        text-decoration:underline;
}

b {
        font-family:'Inter', Helvetica, sans-serif;
        font-weight:600;
}

ul {

}

li {
        list-style-type:none;
        list-style:none;
        display:inline-block;
        text-align:left;
        padding:5px;
        margin:5px;
}



/*-- SECTIONS --*/

/* NAV */
#navbar {
        font-weight:600;
        list-style:none;
}


/* TIMESTAMP */
#timestamp {

}


/* HERO */
#hero {
        width:100vw;
}


/* SELECTORS */
#filters {

}


/* SHOP */
#products {

}


/* REVIEWS */
#reviews {

}

.review {

}


/* CART */
#cart {

}

#displayCart {

}


/* CHECKOUT */
#checkout {

}

#checkoutDisplay {

}


/* FOOTER */
#footer {
     font-weight:600;
     width:100vw;  
}


/* MEDIA QUERIES */
