/*--



        FINAL PROJECT
        for INFO-1251 + INFO-1272
        || 'Ilex Supply Co.' Store Concept
        || Due Dec. 17, 2021 @ 11:59PM
        || main.css
        Hayley Jolliffe — 2021

        Update: Due Dec. 19, 2021 @ 11:59PM



--*/

/*-- GLOBALS --*/
body {
        background-color:#202020;
        color:#fafafa;
        font-family:'Inter', Helvetica, sans-serif;
        font-weight:400;
        text-decoration:none;
}

a {
        color:#fafafa;
        text-decoration:underline;
}

a:hover {
        color:#999;
        text-decoration:underline;
}

b {
        font-family:'Inter', Helvetica, sans-serif;
        font-weight:600;
}

ul {

}

li {

}



/*-- SECTIONS --*/

/* NAV */
#navbar {
        font-family:'Inter', Helvetica, sans-serif;
}


/* TIMESTAMP */
#timestamp {
        
}


/* HERO */
#hero {

}


/* SELECTORS */
#filters {

}


/* SHOP */
#products {

}


/* REVIEWS */
#reviews {

}

.review {

}


/* CART */
#cart {

}

#displayCart {

}


/* CHECKOUT */
#checkout {

}

#checkoutDisplay {

}


/* FOOTER */
#footer {
        
}
