/*--



        FINAL PROJECT
        for INFO-1251 + INFO-1272
        || 'Ilex Supply Co.' Store Concept
        || Due Dec. 17, 2021 @ 11:59PM
        || main.css
        Hayley Jolliffe — 2021

        Update: Due Dec. 19, 2021 @ 11:59PM



--*/

/*-- GLOBALS --*/
body {
        background-color:#fafafa;
        color:#202020;
        font-family:'Inter', Helvetica, sans-serif;
        font-size:16px;
        font-weight:400;
        text-decoration:none;
        max-width:100vw;
        margin:0 auto;
}

a {
        color:#202020;
        text-decoration:underline;
}

a:hover {
        color:#999;
        text-decoration:underline;
}

b {
        font-family:'Inter', Helvetica, sans-serif;
        font-weight:600;
}

ul {

}

li {
        list-style-type:none;
        list-style:none;
        display:inline-block;
        text-align:left;
        padding:5px;
        margin:5px;
}



/*-- SECTIONS --*/

/* NAV */
#navbar {
        width:100vw;
        height:10vh;
        font-weight:600;
        list-style:none;
}


/* TIMESTAMP */
#timestamp {
        font-weight:400;
        font-size:12px;
        text-decoration:none;
}


/* HERO */
#hero {
        width:100vw;
        height:25vh;
        background-image:url('https://imgr.search.brave.com/jEo5WmGzOvdVtLea8WkzxQd8kLb_0dkHZBE6HQR4mgA/fit/1200/1080/ce/1/aHR0cDovL3dhbGxw/YXBlcmNhdmUuY29t/L3dwL1ljdjVyNnYu/anBn');
        background-size:100vw;
        background-position:100%;
        margin:0 auto;
}

#heroText {
        color:#fafafa;
        font-size:32px;
        font-weight:600;
        line-height:120%;
        width:50vw;
        text-align:center;
        margin:0 auto;
        padding-top:50px;
}


/* SELECTORS */
#filters {

}


/* SHOP */
#products {

}

.product {
        border:1px solid #202020;
        border-radius:5%;
        margin:5px;
        padding:5px;
}


/* REVIEWS */
#reviews {

}

.review {

}


/* CART */
#cart {

}

#displayCart {

}


/* CHECKOUT */
#checkout {

}

#checkoutDisplay {

}


/* FOOTER */
#footer {
     background-color:#083a1e;
     color:#fafafa;
     font-weight:600;
     width:100vw; 
     height:25vh; 
}


/* MEDIA QUERIES */
